<br />

<div class="booyah-box col-10 offset-1">
  <h1><%= @bundle.title %></h1>
  <% if @bundle.cover_photo.url  %>
    <%= image_tag @bundle.cover_photo.url, class: 'img-fluid' %>
  <% end %>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency @bundle.cost %>
      </span>

      <% if current_user && current_user == @bundle.user %>
        <br />
        <br />
        <%= link_to 'Edit Listing', seller_bundle_path(@bundle), class: 'btn btn-danger btn-large' %>
      <% end %>
    </div>

    <br />
    <br />
    <%= form_tag bundle_purchases_path(@bundle) do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-email="<%= current_user.email %>"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%= @bundle.title %> (<%= number_to_currency @bundle.cost %>)"
              data-amount="<%= (@bundle.cost * 100).to_i %>"
              data-locale="auto"></script>
    <% end %>
    <div class="col-sm-8 col-12">
      <%= @bundle.description %>
    </div>
  </div>

  <div class="col-12">
    <% @bundle.items.each do |item| %>
      <br /><br />
      <div class="item">
        <%= item.title %>
        <% if item.images.size > 0 %>
          <%= image_tag item.images.first.url, class: 'img-fluid' %>
        <% end %>
        <br class="clr" />

      </div>
    <% end %>
  </div>
</div>
