<br />
<div class="booyah-box col-10 offset-1">
  <h1>List a Bundle!</h1>
  <%= simple_form_for @bundle, url: seller_bundles_path do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.input :cover_photo %>
    <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %>
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
</div>
